{{define "navigation"}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Camforchat</a>
  <ul class="navbar-nav">
    {{if .UserData.loggedin}}
    <li class="nav-item">
      <a class="nav-link" href="/broadcasts/new">Broadcast yourself</a>
    </li>
    {{end}}
  </ul>
  <ul class="navbar-nav ml-md-auto">
    {{if not .UserData.loggedin}}
    <li class="nav-item">
      <a class="nav-link" href="/auth/register" rel="noopener">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/login" rel="noopener">Login</a>
    </li>
    {{else}}
    <li class="nav-item">
      <p>{{.UserData.current_user_name}}</p>
    </li>
    {{end}}
  </ul>
</nav>
{{end}}

{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger js-alert-danger">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card broadcasting-card">
        <video id="video" width="320" height="240" autoplay></video>
        <div class="card-body">
          <h5></h5>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "javascripts"}}
<script type="application/javascript" src="/assets/javascripts/broadcast.js"></script>
{{end}}
